body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

section
{
	background-color: red;
	height: 200px;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}



#idlugar
{
	background-color: blue;
	height: 200px;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#idPosition
{
	height: 200px;
	width: 200px;
}

canvas
{
	height: 350px;
	width: 350px;
	border: 2px solid black;
}


	
