@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*
{
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: #fcfdeb;
}
.menu a:hover {
	color: white;
}
.principal {
	width: 80%;
	border: 2px solid pink;
}
header 
{
	height: 2em; 
	background-color: #322030;
	color: #fcfdeb;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	background-color: #e3cebd;
}
li {
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
section {
	margin-top: 30px;
	display:block;
	text-align: center;
}
img {
	float: right;
}
@media only screen and (max-width: 620px) {

}